<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="utm.csc301.theBrogrammers.myPlanBook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FinancialHub.LoadTransactions"></activity>
        <activity android:name=".Feedback" />
        <activity
            android:name=".ui.login.Signup"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.PlannerSelector"
            android:label="@string/title_activity_planner_selector"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.MainLoginActivity"
            android:label="@string/title_activity_main_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FinancialHub.FinancialHubActivity" />
        <activity
            android:name=".ChangePassword"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileSetting"
            android:label="@string/title_activity_profileSetting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".calendar.CalendarEventsModel"
            android:label="@string/title_activity_add_event"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".calendar.CalendarEventsActivity"
            android:label="@string/title_activity_calendar"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".LogBodyWeight.LogBodyWeightActivity"
            android:label="@string/title_activity_log_body_weight"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>